.words {
    &__list {
        list-style: none;
        border: 1.2px solid rgb(78, 74, 74);
        padding: 0.4rem 1.2rem;
        max-height: 55vh;
        margin-bottom: 1.3rem;

        &-item {
            margin-bottom: 0.8125rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__form {
        display: flex;
    }

    &__input {
        flex: 3;
        margin-right: 0.9rem;
    }
}
