<form [formGroup]="settingsForm" (ngSubmit)="submit()">
    <div class="input-wrapper">
        <label for="language">Language:</label>
        <select id="language" name="language" formControlName="language">
            <option [ngValue]="null" disabled>Choose language</option>
            <option *ngFor="let language of languages" [ngValue]="language.value">{{ language.text }}</option>
        </select>
    </div>

    <div class="input-wrapper">
        <label for="words-count">Nb. of words:</label>
        <input type="number" name="wordsCount" id="words-count" formControlName="wordsCount">
    </div>

    <div class="btn-wrapper">
        <button class="btn" type="button">Back</button>
        <button class="btn" type="submit">Save</button>
    </div>

</form>
