<div class="playground" *ngIf="!isExercising; else trainer">
    <button class="btn" (click)="toExercise()">To exercise</button>
</div>
<ng-template #trainer>
    <div class="row">
        <h3>{{ translateObj[language] }}</h3>
        <h5 *ngIf="checkResult !== ''" [class]="checkResult">{{ checkResult }}</h5>
    </div>
    <form [formGroup]="trainerForm" (ngSubmit)="submit()">
        <div class="input-wrapper">
            <input type="text" required formControlName="ru">
        </div>
        <div class="btn-wrapper">
            <button class="btn" type="submit" [disabled]="trainerForm.invalid">Next</button>
        </div>
    </form>
</ng-template>
